<div class="row">
	<div class="span12">
		<div id="passage_form">
			<fieldset>
				<legend>New English Translation</legend>
				<!-- <label>Passage:</label>
				<input type="text" id="passage_box" placeholder="Passage"/> -->
				<label>Book:</label>
				<input type="text" id="passage_book" placeholder="Example:'John'" />
			
				<label>Chapter:</label>
				<input type="text" id="passage_chapter"placeholder="Example:'3'"/>
				<label>Verse:</label>
				<input type="text" id="passage_verse" placeholder="Example:'16' or '16-23'"/>
			</br>
				<button type="submit" class="btn btn-success" id="passage_submit">Manuscript</button>	
			</fieldset>
		</div>
	</div>		
	<div class="span12">		
		<div class="verse-output">
			<h2 id="verse_passage"></h2>
			<p id="passage_output" >
				
			</p>
		</div>			
		

	</div>
</div>